###### requirements and packages without specifics versions ######
from astropy.io import ascii
import numpy as np
import pandas as pd
import ezpadova #isochrones
import matplotlib.pyplot as plt
from scipy import stats
import time
import astropy
from astropy.table import Table
from astropy.coordinates import SkyCoord #match_coordinates_sky, Angle 
import astropy.units as u 
import astropy.table as tb


###### Requirments and packages with specific versions ########
numpy >= 2.0



###### optional packages if you want to rewrite things ######
seabron --> for more plotting options
time --> used for monitoring how long things are taking
import astropy.table as tb --> things could be rewritten to specifcally 
use pandas
